*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1750px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#content .row {
  max-width: 1367px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

h1 {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.5;
  color: inherit;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 24px;
}

p,
ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .5px;
  color: inherit;
}

nav ul li a {
  font-size: 15px;
  font-weight: 700;
}

.foreword {
  font-size: 23px;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  font-weight: 600;
  background-image: linear-gradient(#AC7933, #693916);
  color: #FFF;
  line-height: 1.2;
  -webkit-appearance: inherit;
  border-radius: 50px;

  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #fff;
}

.btn:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


img {
  width: 100%;
}

.cssanimation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

/* #header.fixed {
  position: fixed;
  background-color: rgb(0 0 0 / 90%);
  min-height: 188px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
} */

#header .header-con {
  /* position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 19px; */
}

#header .row {
  align-items: start;
}

#header.fixed .logo-holder img {
  max-width: 250px;
  transition: max-width 0.3s ease;
}


#header .logo-holder img {
  max-width: 403px;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 653px;
}

#header nav ul {
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-weight: 500;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 20px 0;
}

nav ul li a::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #fff;
}

nav ul li.active-menu a,
nav ul li a:hover {
  opacity: 1;
  font-weight: 700;
  color: #fff;
}

nav ul li a:hover::before {
  bottom: 10px;
  opacity: 1;
}

#header .contact a {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.contact {
  background-image: linear-gradient(#AC7933, #693916);
  padding: 12px 35px;
}

/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/bg-banner.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-top: 704px;
  margin-bottom: -56px;
}

#banner .banner-con {
  width: 100%;
}

#banner .banner-con .top {
  width: 100%;
  max-width: 750px;
  margin: 0 0 15px auto;
}

#banner .ban-title {
  font-size: 54px;
  color: #DAAF7A;
  font-weight: 800;
}

#banner h2 {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  line-height: 2;
}

#banner .to-sm {
  font-size: 19px;
  color: #fff;
  font-weight: 500;
}

#banner .btn-holder {
  margin-top: 20px;
}

#banner .bottom {
  z-index: 999;
  position: relative;
  justify-content: left;
  gap: 20px;
}

.bottom .box {
  background: #fff;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 280px;
  justify-content: center;
  padding: 30px 0;
  border-radius: 10px;
}

.bottom .box img {
  max-width: 59px;
}

.bottom .box .label {
  font-size: 21px;
  font-weight: 700;
  width: 100%;
  max-width: 136px;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*WELCOME*/
#welcome {
  background: url('../images/content/bg-welcome.jpg')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
  padding: 174px 0 83px;
}

#welcome .foreword {
  color: #D8AD79;
  font-weight: 200;
}

#welcome h2 {
  color: #D8AD79;
  font-weight: 800;
  line-height: 1.5;
}

#welcome .welcome-con .top h3 {
  font-weight: 200;
}

#welcome .welcome-con .top {
  width: 100%;
  max-width: 660px;
  margin: 0 0 0 auto;
}

#welcome .welcome-con p {
  padding: 58px 0 38px;
  font-weight: 200;
}

#welcome .welcome-con .imgs {
  justify-content: right;
  gap: 49px;
  margin-top: 70px;
}

#welcome .welcome-con .imgs img {
  width: 100%;
  max-width: 323px;
}

#welcome .welcome-con .imgs h3 {
  font-weight: 700;
  line-height: 2.5;
}


/*SERVICES*/
#services {
  background: url('../images/content/bg-services.jpg')no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 175px 0 250px;
}

#services h1 {
  color: #270E07;
}

#services .services-con p {
  width: 100%;
  max-width: 750px;
}

#services .services-con ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  font-weight: 600;
}

/* WE DO THAT */
#wedothat {
  background: url('../images/content/bg-wedothat.jpg')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 174px 0 531px;
  color: #fff;
}

#wedothat .wedo-con {
  width: 100%;
  max-width: 800px;
  margin: 0 0 0 auto;
}

#wedothat .title-like {
  font-size: 60px;
  font-weight: 800;
  color: #D1C1AE;
}

#wedothat h1 {
  font-weight: 400;
  color: #D8AD79;
}

#wedothat h3 {
  font-weight: 500;
  width: 100%;
  max-width: 770px;
  margin: 56px 0;
  line-height: 1.5;
}

#wedothat .btn {
  width: 100%;
  max-width: 526px;
  font-size: 18px;
  font-weight: 500;
}

#wedothat .btn a {
  font-size: 20px;
  font-weight: 700;
}

/* REVIEWS */
#review {
  position: absolute;
  width: 100%;
}

#review .row {
  margin-top: -372px;
  position: relative;
  background: #fff;
  padding: 0 0 0 80px;
  z-index: 1;
}

#review .review-con .left {
  margin-top: 43px;
}

#review .review-con .left .title {
  justify-content: left;
  align-items: end;
  gap: 20px;
}

#review .review-con h1 {
  color: #1F1A18;
}

#review .review-con .left .name {
  justify-content: left;
  align-items: center;
  gap: 20px;
}

#review .review-con .left img {
  max-width: 142px;
}

#review .stars {
  color: #A3702F;
  font-size: 36px;
}

#review .auth {
  font-size: 22px;
  font-weight: 700;
  color: #A3702D;
}

#review .remarks {
  width: 100%;
  max-width: 683px;
  font-style: italic;
  font-size: 15px;
  line-height: 1.7;
  margin: 23px 0 50px;
  color: #1F1F1F;
}

#review .review-con .right img {
  max-width: 547px;
}


/*GALLERY*/
#gallery {
  background: url('../images/content/bg-gallery.jpg')no-repeat top right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 411px 0 196px;
}

#gallery .row {
  max-width: 1383px;
}

#gallery h1 {
  color: #260C06;
}

#gallery .gallery-container {
  margin-top: 40px;
}

#gallery .gallery {
  display: flex;
  gap: 15px;
}

#gallery img {
  display: block;
}

#gallery .thumbnail {
  background-color: unset !important;
  border: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}

#gallery .img-responsive {
  width: unset;
  height: unset;
}

#gallery .gallery li {
  margin: 7px 0;
}

#gallery .btn-holder {
  margin-top: -179px;
}

#gallery .btn-holder .btn {
  margin: 0 auto;
  width: 117px;
  padding: 37px 0;
  font-size: 16px;
  background: rgb(165, 114, 48, .88);
  border-radius: 50%;
}

/*CONTACT*/
#contact {
  position: relative;
}

#contact h1 {
  color: #1F1A18;
}

#contact p {
  font-family: 'Arial', sans-serif;
  margin: 10px 0 20px;
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  height: 65px;
  display: block;
  width: 100%;
  border: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 14px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form::placeholder,
.ctc-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #999999
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 19px;
  border-radius: 0;
  background: #A3702F;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/bg-footer.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 65px 0 40px;
}

#footer .row,
footer .bottom .row {
  max-width: 1472px;
}

.footer-con .left {
  color: #fff;
}

.footer-con .left h1 {
  color: #F8C58C;
}

.footer-con .socials img {
  max-width: 50px;
}

#footer .logo-holder img {
  max-width: 403px;
}

.footer-con .comp-info a {
  font-size: 20px;
  font-weight: 600;
}

.footer-con .comp-info .label {
  font-size: 13px;
  color: #F8C58C;
  margin: 35px 0 13px;
}

.footer-con .socials {
  display: flex;
  gap: 32px;
}

.footer-con .right {
  background: #fff;
  padding: 81px 95px 104px;
  margin-top: -202px;
  z-index: 1;
  box-shadow: 0px 0px 48px -17px rgba(0, 0, 0, 0.45);
}

.footer-con .contact-con {
  width: 100%;
  max-width: 642px;
}

footer .bottom {
  background: #422117;
  color: #fff;
}


footer .nav-holder {
  width: 100%;
  max-width: 656px;
}


footer nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}


footer .copyrights .copy p {
  color: #fff;
  text-transform: uppercase;
}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 150px 0;
  max-width: 1200px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}

.inner #banner {
  padding-top: 450px;
  padding-bottom: 20px;
}

/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block !important;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/



/*1200*/
@media screen and (max-width: 1368px) {
  #gallery .gallery {
    display: unset;
  }

  #gallery .img-responsive {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1276px) {
  .flex {
    justify-content: space-around;
    gap: 20px;
  }

  #review {
    position: relative;
  }

  #review .row {
    margin-top: 0;
    padding: 0 10px;
  }

  #gallery {
    padding-top: 50px;
  }

  .footer-con .right {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  #header nav {
    max-width: 100%;
    order: -1;
  }

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
    background: #000;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    /* background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999; */
  }

  #header {
    position: relative;
    margin-bottom: -284px;
  }

  #banner {
    padding-top: 500px;
  }

  h1,
  #banner .ban-title,
  #wedothat .title-like {
    font-size: 40px !important;
  }

  h3 {
    font-size: 20px;
  }

  .btn {
    margin: 0 auto;
  }

  #banner .banner-con .top {
    margin: 0 auto 15px;
    text-align: center;
  }

  #banner h2 {
    font-size: 30px;
  }

  #welcome .welcome-con .top {
    margin: 0 auto;
  }

  #welcome .welcome-con .imgs {
    justify-content: center;
  }

  #banner .bottom {
    justify-content: center;
  }

  #welcome,
  #wedothat .wedo-con,
  .review-con {
    margin: 0 auto;
    text-align: center;
  }

  #services,
  #wedothat {
    padding: 70px 0;
  }

  .services-con {
    background: rgba(250, 250, 250, 0.3);
  }

  .footer-con .right {
    padding: 50px;
  }
}


/*425*/
@media screen and (max-width: 625px) {
  #header {
    margin-bottom: -367px;
  }

  .footer-con .right {
    padding: 20px;
  }

  #services .services-con ul {
    columns: unset;
    -webkit-columns: unset;
  }
}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}